.toggle__switch {
  padding-right: 20px;
}

.toggle__switch-label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: baseline;

  cursor: pointer;

  width: 56px;
  height: 28px;

  background-color: white;

  box-sizing: border-box;
  border: 2px solid #7e7e7e;
  border-radius: 20px;

  transition: 0.3 ease-in-out;
}

.toggle__switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle__switch-label:hover {
  border-color: black;
}

.toggle__switch-label:hover .toggle__switch-label-fahrenheit,
.toggle__switch-label:hover .toggle__switch-label-celcius {
  color: #fff;
}

.toggle__switch-label-fahrenheit,
.toggle__switch-label-celcius {
  position: absolute;

  z-index: 2;

  margin: 0;

  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;
  text-align: center;

  transition: 0.3s;
  mix-blend-mode: difference;
}

.toggle__switch-label-fahrenheit {
  top: 4px;
  left: 8px;
}

.toggle__switch-label-celcius {
  top: 4px;
  right: 8px;
}

.toggle__switch-button {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  transition: 0.2s;
  background: #000;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle__switch-checkbox:checked + .toggle__switch-button {
  left: calc(100% + 2px);
  transform: translateX(-100%);
}

.toggle__switch-label:active .toggle__switch-button {
  width: 28px;
}
