@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('../../fonts/CabinetGrotesk-Medium.otf');
}



.suggested__wear {
  text-decoration: none;
  list-style-type: none;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;

  
  padding-top: 40px;
  padding-bottom:34px;

  padding-left: 40px;

  margin: 0;



}


.cards__list {
  display: grid;
  justify-content: center;
 
  grid-template-columns: repeat(auto-fit, 325px);
  grid-gap: 17px 20px;

  padding: 0;
  margin: 0;

  list-style: none;


}

.card {
  text-decoration: none;
  list-style-type: none;

  background: #e9e9e9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;

  box-sizing: border-box;

  overflow: hidden;

  
  width: 328px;
  height: 328px;


  cursor: pointer;
  


}

.card__title-box {
  width: 72px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 2px 12px;
  gap: 8px;

  margin-top: 16px;
  margin-left: 128px;
  margin-right: 127px;

  background: #ffffff;
  border-radius: 4px;

}

.card__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: rgba(0, 0, 0, 0.6);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card__image {
max-width: 100%; 
max-height: 100%;

display:flex;
align-items: center;
justify-content: center;

}
