@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Medium.otf");
}

.weather__card {
  width: 1360px;
  height: 80px;

  background: #00a3ff;
  border-radius: 12px;

  text-decoration: none;
  list-style-type: none;

  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.weather__card-temperature {
  width: 69px;
  height: 40px;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  display: flex;
  align-items: center;

  color: #ffffff;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 16px;

  white-space: nowrap;
}
