@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('../../fonts/CabinetGrotesk-Medium.otf');
}

.suggested__wear {
  text-decoration: none;
  list-style-type: none;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;

  padding-top: 40px;
  padding-bottom: 34px;

  display: flex;

  width: 1360px;

  margin: auto;

  margin-top: 0;
  margin-bottom: 0;
}

.cards__list {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, 325px);
  grid-gap: 17px 20px;

  list-style: none;

  width: 1360px;

  margin: auto;

  margin-top: 0;
  margin-bottom: 0;

  padding: 0;
}