@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Medium.otf");
}

.modal__preview {
  position: absolute;

  left: 472px;
  right: 472px;
  bottom: 350px;

  width: 498px;
  height: 610px;

  background-color: white;

  border-radius: 16px;

  visibility: hidden;

  margin: auto;

}

.modal__preview-opened{
  visibility: visible;
}


.modal__close-button {
  position: absolute;
  background: transparent url(../../images/modal-exit-icon.svg) center no-repeat;

  width: 16px;
  height: 16px;

  margin-left: 457px;
  margin-right: 27px;
  margin-top: 27px;

  border: none;

  z-index: 1;

  cursor: pointer;
}

.modal__preview-image {
  width: 498px;
  height: 500px;

  padding-bottom: 26px;

  border-radius: 16px 16px 0px 0px;

  margin:0;
}

.modal__preview-description {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  color: #000000;

  border-radius: 0px 0px 16px 16px;

  padding-left: 32px;

  margin: 0;

  display: flex;
  flex-direction: column;
}

.modal__preview-title {
  margin: 0;
}

.modal__preview-weather {
  margin-top: 12px;
  margin-bottom: 32px;
}
