@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Medium.otf");
}

.modal__preview {

    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: auto;

  width: 498px;
  height: 610px;

  background-color: white;

  border-radius: 16px;

  visibility: hidden;

  z-index: 1;
}

.modal__preview-opened {
  visibility: visible;
}

.modal__close-button {
  position: absolute;
  background: transparent url(../../images/modal-exit-icon.svg) center no-repeat;

  width: 16px;
  height: 16px;

  margin-left: 457px;
  margin-right: 27px;
  margin-top: 27px;

  border: none;

  z-index: 1;

  cursor: pointer;
}

.modal__preview-image {
  width: 498px;
  height: 500px;

  padding-bottom: 26px;

  border-radius: 16px 16px 0px 0px;

  margin: 0;
}

.modal__preview-description {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  color: #000000;

  border-radius: 0px 0px 16px 16px;

  padding-left: 32px;

  margin: 0;

  display: flex;
  flex-direction: column;
}

.modal__preview-title-delete-button {
  list-style: none;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  align-items: baseline;

  height: 24px;
}

.modal__preview-title {
  margin: 0;
}

.modal__preview-delete-button {
  margin: 0;
  padding-right: 32px;

  color: #ff4d00;

  cursor: pointer;
}

.modal__preview-delete-button_visible {
  display: inline-block;
}

.modal__preview-delete-button_hidden {
  display:none
}

.modal__preview-weather {
  margin-top: 12px;
  margin-bottom: 32px;
}
