@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Medium.otf");
}


.profile__menu {
  list-style: none;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

}

.profile__user-info {
    margin: 0;

  width: 229px;
  height: 56px;

}

.profile__user-name {  
  margin: 0;

  width: 229px;
  height: 56px;
}

.profile__user-avatar {
  padding-right: 12px;

  width: 40px;
  height: 40px;
}


.profile__change-info {
  margin: 0;

  padding-top: 24px;

  cursor: pointer;

}

.profile__logout {
  margin: 0;

  padding-top: 8px;

  cursor: pointer;
}
