@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/CabinetGrotesk-Medium.otf");
}

.footer {
  margin: auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  text-decoration: none;
  list-style-type: none;

  width: 1360px;
  height: 20px;

  padding-top: 85px;
  padding-bottom: 24px;

}
